

* {
  box-sizing: border-box;
}

#btn1{
background-color: teal;
color: white;
width: 200px;
height: 100px;
text-align: center;
font-size: 30px;
float: right;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
visibility: visible;
}

body {

  font-size: 18px;
  line-height: 27px;

  background-color: white;
}

h1 {text-align: center;
font-size: 3.0rem;
padding-top: 20px;
}

hr {
  width: 100%;
}

p {text-align: center;
font-size: 2.0rem;
color: darkblue;
}

.container {
  width: 800px;
  
  margin: 40px auto;
}

#main {
  width: 100%;
  padding: 30px;
  background: rgb(248, 241, 142);
}

#question {
  width: 100%;
  padding: 30px;
  background: rgb(163, 238, 197);
}

#buttons {
  width: 100%;
  padding: 10px;
  text-align: center;
  float:right
}

@media screen and (max-width: 768px) {
  body {
    background-color: white;
  }

  h1 {text-align: center;
  font-size: 2rem
  padding-top: 20px}

  pre {text-align: center;}

  .container {
    width: 100%;
    padding: 20px;
  }

  #main {
    width: 100%;
  }

}

/* Additional Screen Sizes */


@media screen and (max-width: 320px) {
  
  h1 {text-align: center;
  font-size 1.5rem
  padding-top: 15px}

  pre{text-align: center;}
  
  body {
    background-color: white;
  }

  .container {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main {
    width: 100%;
  }

 
 }

